html {
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #0c0d2e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  margin: 50px 0;
}

/* ! header */

.header {
  padding-right: 44px;
  padding-left: 44px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  max-width: 170px;
}

.header-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-link {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  color: #fff;
}

.nav-list .nav-item:nth-child(5) .nav-link {
  color: #189ce8;
}

.buy-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;

  border: 2px solid #fff;
  border-radius: 100px;
  width: 164px;
  height: 48px;
  background: transparent;
}

/* ! section */

.main {
  background-color: #010225;
  border-radius: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.main > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.1875;
  color: #fff;
  max-width: 557px;
  margin-bottom: 8px;
}

.main-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5;
  color: #fff;
  max-width: 617px;
  margin-bottom: 12px;
}
.download-list {
  display: flex;
}

.download-img {
  max-width: 150px;
}

/* !======== */

.about > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
  max-width: 422px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  text-align: center;
  color: #fff;
  margin-bottom: 44px;
  max-width: 699px;
}

.about-list {
  display: flex;
  gap: 64px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-icon {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background: #010225;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.about-text {
  font-weight: 400;
  font-size: 11px;

  /* line-height: 24px; */
  line-height: 2.18182;
  text-align: center;
  color: #fff;
}

.about-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  color: #159be8;
}

/* !========= */

.services {
  background-color: #010225;
  border-radius: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
}

.services > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.section-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  max-width: 666px;
}
.section-subtitle {
  font-weight: 300;
  font-size: 12px;
  max-width: 699px;
  line-height: 2.5;
  text-align: center;
  color: #fff;
}
.services-list-left {
  display: flex;
  flex-direction: column;
  gap: 94px;
}
.services-item-left {
  background-color: #0c0d2e;
  padding: 20px;
  border-radius: 20px;
}
.services-title-left {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: right;
  color: #fff;
  margin-bottom: 10px;
}
.services-text-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #fff;
  max-width: 339px;
}
.services-list-right {
  display: flex;
  flex-direction: column;
  gap: 94px;
}
.services-item-right {
  background-color: #0c0d2e;
  padding: 20px;
  border-radius: 20px;
}

.services-title-right {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: right;
  color: #fff;
  max-width: 339px;
  text-align: left;
  margin-bottom: 10px;
}
.services-text-right {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #fff;
  max-width: 339px;
  text-align: left;
}

.services-img {
  margin-right: 40px;
  margin-left: 40px;
}
